@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    padding: 0;
    margin: 0;
    

    background-color:darkgray;
}
.dia{  
   text-align: center;
   display: block;
   padding-top: 200px;
}
.dia p{
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;

    
}
main h1{
    text-align: center;
    font-size:60px;
    font-family: 'Bebas Neue', sans-serif;

}