body{

    background-color:darkgray;
}
#teste{
    text-align: center;
    font-size: 55px
}
#cor{
    display: flex;
    margin-left:398px;
    font-size: 55px;
}
button{
    display: flex;
    margin-left:398px;
    font-size: 55px;
    align-items: center;
}

